# Registry settings for both npm and GitHub packages
@somritdasgupta:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
//registry.npmjs.org/:_authToken=${NPM_TOKEN}

# Global settings
registry=https://registry.npmjs.org/
always-auth=true
legacy-peer-deps=true
